[user]
    email =
    name =

[core]
    excludesfile = ~/.gitignore_global

[alias]
    amend = commit -a --amend
    c = commit -m
    ca = !git add -A && git commit -m
    co = checkout
    cob = checkout -b
    st = status -sb

    diffi = !git add --intent-to-add --all && git diff
    diffw = diff --word-diff
    diffc = diff --cached
    diffcw = diff --cached --word-diff

    alias = !git config -l | grep alias | cut -c 7-
    aliases = !git config -l | grep alias | cut -c 7-

    branch-name = "!git rev-parse --abbrev-ref HEAD"
    publish = "!git push -u origin $(git branch-name)"

    ls = log --oneline
    lc = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative

    reset-permissions = !git diff -p -R --no-color | grep -E '^(diff|(old|new) mode)' --color=never | git apply
